<!-- navbar starts here -->
<header class="header">
  <nav class="navbar navbar-static-top" role="navigation">
      <a href="index.html" class="logo">
          <!-- Add the class icon to your logo image or logo icon to add the margining -->
          <img src="img/logo.png" alt="logo"/>
      </a>
      <!-- Header Navbar: style can be found in header-->
      <!-- Sidebar toggle button-->
      <div class="collapse-button">
          <a href="javascript:void(0)" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
      </div>
      <!-- nav right components-->
      <div class="navbar-right">
          <ul class="nav navbar-nav">
              <li class="dropdown full-screen">
                  <a href="javascript:void(0)" id="full-screen">
                      <img src="img/screen.png" alt="logo"/>
                  </a>
              </li>
              <li class="dropdown chat-menu">
                  <a href="javascript:void(0)" class="dropdown-toggle noti-icon" data-toggle="dropdown"> <i
                          class="fa fa-fw fa-envelope-o nav-icon"></i>
                  </a>
                  <ul class="dropdown-menu chat-dropdown">
                      <li><a href="javascript:void(0)" class="chat">
                          Inbox <span class="pull-right">view all</span></a></li>
                      <li><a href="javascript:void(0)" class="chat">
                          <div class="friend-chat">
                              <div class="chat-image pull-left"><img
                                      src="img/authors/avatar2.jpg" alt="chat Image"
                                      class="chat-image"></div>
                              <div class="chat-data pull-left">
                                  <p><strong>James</strong>
                                      <small class="pull-right">24 min ago</small>
                                  </p>
                                  <p class="chat-msg">Please, attend that Call.</p>
                              </div>
                          </div>
                      </a></li>
                      <li><a href="javascript:void(0)" class="chat">
                          <div class="friend-chat">
                              <div class="chat-image pull-left"><img
                                      src="img/authors/avatar3.jpg" alt="chat Image"
                                      class="chat-image"></div>
                              <div class="chat-data pull-left">
                                  <p><strong>James</strong>
                                      <small class="pull-right">24 min ago</small>
                                  </p>
                                  <p class="chat-msg">Please, attend that Call.</p>
                              </div>
                          </div>
                      </a></li>
                      <li>
                          <a href="javascript:void(0)" class="chat">
                              <div class="friend-chat">
                                  <div class="chat-image pull-left">
                                      <img src="img/authors/avatar4.jpg" alt="chat Image" class="chat-image">
                                  </div>
                                  <div class="chat-data pull-left">
                                      <p><strong>James</strong>
                                          <small class="pull-right">24 min ago</small>
                                      </p>
                                      <p class="chat-msg">Please, attend that Call.</p>
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="dropdown-footer text-center"><a href="javascript:void(0)">New messages</a></li>
                  </ul>
              </li>
              <li class="dropdown notifications-menu">
                  <a href="javascript:void(0)" class="dropdown-toggle noti-icon" data-toggle="dropdown">
                      <i class="fa  fa-fw fa-bell-o nav-icon"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-notifications table-striped">
                      <li>
                          <a href="" class="notification">
                              <img class="notif-image img-circle" src="img/authors/avatar6.jpg" alt="avatar-image">
                              <div class="notif-body">
                                  <span><strong>Franklin</strong> Liked Trending<strong> Designs</strong> Post.</span>
                                  <br>
                                  <small>5 minutes ago</small>
                              </div>
                              <span class="label label-success label-mini msg-lable">New</span>
                          </a>
                      </li>
                      <li>
                          <a href="" class="notification striped-col">
                              <img class="notif-image img-circle" src="img/authors/avatar5.jpg" alt="avatar-image">
                              <div class="notif-body">
                                  <span><strong>Robinson</strong> started follwing Trac Theme.</span>
                                  <br>
                                  <small> 1:31 pm</small>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="" class="notification">
                              <img class="notif-image img-circle" src="img/authors/avatar1.jpg" alt="avatar-image">
                              <div class="notif-body">
                                  <span><strong>Williams</strong> liked Lorem Ipsum typesetting.</span>
                                  <br>
                                  <small>5 days ago</small>
                              </div>
                          </a>
                      </li>
                      <li class="dropdown-footer text-center"><a href="javascript:void(0)">View All messages</a></li>
                  </ul>
              </li>
              <!-- User Account: style can be found in dropdown-->
              <li class="dropdown user user-menu">
                  <a href="javascript:void(0)" class="dropdown-toggle padding-user" data-toggle="dropdown">
                      <img src="img/authors/avatar6.jpg" class="img-circle img-responsive pull-left" alt="User Image">
                  </a>
                  <ul class="dropdown-menu">
                      <li>
                          <div class="user-profile nav_profile">
                              <div class="media profile-left">
                                  <a class="pull-left profile-thumb" href="javascript:void(0)">
                                      <img src="img/authors/avatar6.jpg" class="img-circle" alt="User Image">
                                  </a>
                                  <div class="content-profile">
                                      <h4 class="media-heading">
                                          Jayson Wiley
                                      </h4>
                                      <p>Admin</p>
                                      <a href="user_profile.html" class="btn btn-primary btn-sm">Profile</a>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <hr class="m-0">
                          <a href="javascript:void(0)" id="lockdscreen">Lock</a>
                          <a href="login.html" class="pull-right">Logout</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </nav>
</header>