<aside class="left-aside">
  <section class="sidebar">
    <div id="menu" role="navigation">
      <div class="nav_profile">
        <div class="page_search">
          <span class="fa fa-search"></span>
          <input class="form-control" placeholder="Search here">
        </div>
      </div>
      <ul class="navigation">
        <li class="menu-dropdown">
          <a href="#">
            <i class="menu-icon fa fa-fw fa-home"></i>
            <span class="mm-text ">Dashboards</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="index.html">
                Dashboard 1
              </a>
            </li>
            <li>
              <a href="dashboard_2.html">
                Dashboard 2
              </a>
            </li>
            <li>
              <a href="e_dashboard.html">
                E-Dashboard
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-dropdown">
          <a href="#">
            <i class="menu-icon fa fa-diamond"></i>
            <span>Components</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="typography.html">
                Typography
              </a>
            </li>
            <li>
              <a href="notifications.html">
                Notifications
              </a>
            </li>
            <li>
              <a href="icons.html">
                Icons
              </a>
            </li>
            <li>
              <a href="alerts.html">
                Alerts
              </a>
            </li>
            <li>
              <a href="date_pickers.html">
                Date Pickers
              </a>
            </li>
          </ul>
        </li>
        
      </ul>
      <!-- / .navigation -->
    </div>
  </section>
  </aside>